@font-face {
  font-family: "iconfont"; /* Project id 2525418 */
  src: url('iconfont.woff2?t=1620371319630') format('woff2'),
       url('iconfont.woff?t=1620371319630') format('woff'),
       url('iconfont.ttf?t=1620371319630') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e723";
}

.icon-check1:before {
  content: "\e600";
}

.icon-check2:before {
  content: "\e672";
}

.icon-check3:before {
  content: "\e613";
}

.icon-check4:before {
  content: "\e678";
}

.icon-check5:before {
  content: "\e6a4";
}

.icon-checkbox:before {
  content: "\e63e";
}

.icon-baseline-check_box-px:before {
  content: "\e616";
}

.icon-jian:before {
  content: "\e633";
}

.icon-iconcheckboxsel:before {
  content: "\e602";
}

.icon-jia:before {
  content: "\e715";
}

.icon-plus:before {
  content: "\e95e";
}

.icon-icon-checkbox:before {
  content: "\e606";
}

.icon-plus1:before {
  content: "\e64d";
}

.icon-jian1:before {
  content: "\e774";
}

.icon-guanbi:before {
  content: "\e648";
}

.icon-guanbi1:before {
  content: "\e6c9";
}

.icon-gift_icon:before {
  content: "\e65a";
}

.icon-zhengque:before {
  content: "\e612";
}

.icon-dingwei:before {
  content: "\e7a3";
}

.icon-zhengque1:before {
  content: "\e661";
}

.icon-gongju:before {
  content: "\e81d";
}

.icon-7:before {
  content: "\e638";
}

.icon-15:before {
  content: "\e60c";
}

.icon-tubiaozhizuomoban-06:before {
  content: "\e63d";
}

.icon-right:before {
  content: "\e67f";
}

.icon-zuo:before {
  content: "\e65d";
}

.icon-you:before {
  content: "\e619";
}

.icon-sousuo:before {
  content: "\e86e";
}

