<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./assets/iconfont/iconfont.css">
</head>

<body>
  <div>
    <!-- 版心1226px -->
    <!-- 顶部高38px -->
    <div class="top" id="top">
      <div class="center clearfix">
        <ul class="top_left clearfix">
          <li><a href="./index.html">小米商城</a></li>
          <li><a>MIUI</a></li>
          <li><a>loT</a></li>
          <li><a>云服务</a></li>
          <li><a>金融</a></li>
          <li><a>有品</a></li>
          <li><a>小爱开放平台</a></li>
          <li><a>资质证照</a></li>
          <li><a>协议规则</a></li>
          <li><a>下载app</a></li>
          <li><a>selectLocation</a></li>

        </ul>
        <ul class="top_right clearfix">
          <li id="user"><a href="login.html">登录</a><a href="login.html">注册</a></li>
          <li><a href="index.html">小米商城</a></li>
          <li class="shopping_card"><a href="shopCar.html"><img src="./assets/images/fixed_nav51.png">购物车</a></li>
        </ul>
      </div>
    </div>
    <!-- logo高100px -->
    <div class="navbar center clearfix">
      <img src="./assets/images/logo-mi2.png" alt="">
      <ul>
        <li>
          <a>小米手机</a>
          <div class="two_list">
            <ol>
              <li>
                <img src="./assets/images/two_nav00.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
            </ol>
          </div>
        </li>
        <li>
          <a>Redmi手机</a>
          <div class="two_list">
            <ol>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
            </ol>
          </div>
        </li>
        <li>
          <a>电视</a>
          <div class="two_list">
            <ol>
              <li>
                <img src="./assets/images/two_nav02.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
            </ol>
          </div>
        </li>
        <li>
          <a>笔记本</a>
          <div class="two_list">
            <ol>
              <li>
                <img src="./assets/images/two_nav07.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
            </ol>
          </div>
        </li>
        <li>
          <a>家电</a>
          <div class="two_list">
            <ol>
              <li>
                <img src="./assets/images/two_nav04.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
            </ol>
          </div>
        </li>
        <li>
          <a>路由器</a>
          <div class="two_list">
            <ol>
              <li>
                <img src="./assets/images/two_nav05.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
            </ol>
          </div>
        </li>
        <li>
          <a>智能硬件</a>
          <div class="two_list">
            <ol>
              <li>
                <img src="./assets/images/two_nav06.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
              <li>
                <img src="./assets/images/two_nav01.png" alt="">
                <span>小米11</span>
                <span class="price">3999起</span>
              </li>
            </ol>
          </div>
        </li>
        <li>
          <a>服务</a>
        </li>
        <li>
          <a>社区</a>
        </li>
      </ul>
      <div class="serch clearfix">
        <input type="text" name="serch" placeholder="小米9Pro 5G" />
        <a href="javascript:void(0)"><span class="iconfont icon-sousuo"></span></a>
        <ol class="search-list">
          <li>小米11</li>
          <li>小米扫地机器人</li>
          <li>电饭煲</li>
          <li>家具</li>
          <li>智能家居</li>
          <li>小米电视机</li>
        </ol>
      </div>
    </div>
    <!-- 大图460px -->
    <div class="banner center">
      <span class="iconfont icon-zuo lunbo-left"></span>
      <span class="iconfont icon-you lunbo-right"></span>
      <div class="imgCon">
        <!-- <img src="./assets/images/banner_1.jpg" alt=""> -->
      </div>
      <ul class="aside_nav">
        <li><a href="">手机&nbsp;电话卡</a></li>
        <li><a href="">电脑&nbsp;盒子</a></li>
        <li><a href="">笔记本&nbsp;平板</a></li>
        <li><a href="">家电&nbsp;插线板</a></li>
        <li><a href="">出行&nbsp;穿戴</a></li>
        <li><a href="">智能&nbsp;路由器</a></li>
        <li><a href="">电源&nbsp;配件</a></li>
        <li><a href="">健康&nbsp;儿童</a></li>
        <li><a href="">耳机&nbsp;音箱</a></li>
        <li><a href="">生活&nbsp;箱包</a></li>
      </ul>
    </div>
    <!-- banner 下边 h 172-->
    <div class="banner_bottom center clearfix">
      <!-- w 234px -->
      <div class="banner_bottom_nav">
        <ul>
          <li><a href=""><img src="./assets/images/banner-icon01.png">
              <p>小米秒杀</p>
            </a></li>
          <li><a href=""><img src="./assets/images/banner-icon02.png">
              <p>企业团购</p>
            </a></li>
          <li><a href=""><img src="./assets/images/banner-icon03.png">
              <p>F码通道</p>
            </a></li>
          <li><a href=""><img src="./assets/images/banner-icon04.png">
              <p>米粉卡</p>
            </a></li>
          <li><a href=""><img src="./assets/images/banner-icon05.png">
              <p>以旧换新</p>
            </a></li>
          <li><a href=""><img src="./assets/images/banner-icon06.png">
              <p>话费充值</p>
            </a></li>
        </ul>
      </div>
      <div class="banner_bottom_img">
        <img src="./assets/images/banner-img01.jpg" alt="">
      </div>
      <div class="banner_bottom_img">
        <img src="./assets/images/banner-img02.jpg" alt="">
      </div>
      <div class="banner_bottom_img">
        <img src="./assets/images/banner-img-03.jpg" alt="">
      </div>
    </div>
    <!-- 主要商品区域分类 -->
    <div class="main">
      <!-- 小米闪购模块 -->
      <div class="purchase center clearfix">
        <h4 class="model_title">小米闪购</h4>
        <div class="purchase_main">
          <p>22:00&nbsp;场</p>
          <img src="./assets/images/shandian.jpg" alt="">
          <p id="date">距离结束还有</p>
          <div class="time clearfix">
            <span class="maohao">00</span><span class="maohao">00</span><span>00</span>
          </div>
        </div>
        <ul class="goods_list clearfix"></ul>
        <!-- 右上角 切换 -->
        <div class="pre_next">
          <span class="iconfont icon-zuo"></span>
          <span class="iconfont icon-you"></span>
        </div>
        <!-- 模块中间大图 -->
        <div class="center_img">
          <img src="./assets/images/big_img01.jpg">
        </div>
      </div>
      <!-- 手机模块 -->
      <div class="phone center clearfix">
        <h4 class="model_title">手机</h4>
        <div class="phone_left">
          <img src="assets/images/phone_big.jpg">
        </div>
        <ul class="goods_list clearfix">
        </ul>
        <!-- 模块中间大图 -->
        <div class="center_img">
          <img src="./assets/images/big_img02.jpg">
        </div>
        <!-- 右上角 切换 -->
      </div>
      <!-- 家电 -->
      <div class="family family-use center clearfix">
        <h4 class="model_title">家电</h4>
        <div class="phone_left">
          <img src="assets/images/family_big01.jpg" alt="">
          <img src="assets/images/family_big02.jpg" alt="">
        </div>
        <ul class="goods_list clearfix"></ul>
        <!-- 模块中间大图 -->
        <div class="center_img">
          <img src="./assets/images/big_img03.jpg">
        </div>
        <!-- 右上角 切换 -->
      </div>
      <!-- 智能 -->
      <div class="family family-other center clearfix">
        <h4 class="model_title">智能</h4>
        <div class="phone_left">
          <img src="assets/images/ai_big01.jpg" alt="">
          <img src="assets/images/ai_big02.jpg" alt="">
        </div>
        <ul class="goods_list clearfix"></ul>
        <!-- 模块中间大图 -->
        <div class="center_img">
          <img src="./assets/images/big_img04.jpg">
        </div>
        <!-- 右上角 切换 -->
      </div>
      <!-- 搭配 -->
      <div class="family family-other center clearfix">
        <h4 class="model_title">搭配</h4>
        <div class="phone_left">
          <img src="assets/images/collocation_big01.jpg" alt="">
          <img src="assets/images/collocation_big02.jpg" alt="">
        </div>
        <ul class="goods_list clearfix"></ul>
        <!-- 模块中间大图 -->
        <div class="center_img">
          <img src="./assets/images/big_img05.jpg">
        </div>
        <!-- 右上角 切换 -->
      </div>
      <!-- 配件 -->
      <div class="family family-other center clearfix">
        <h4 class="model_title">配件</h4>
        <div class="phone_left">
          <img src="assets/images/parts_big01.jpg" alt="">
          <img src="assets/images/parts_big02.jpg" alt="">
        </div>
        <ul class="goods_list clearfix"></ul>
        <!-- 模块中间大图 -->
        <div class="center_img">
          <img src="./assets/images/big_img05.jpg">
        </div>
        <!-- 右上角 切换 -->
      </div>
      <!-- 周边 -->
      <div class="family family-other center clearfix">
        <h4 class="model_title">周边</h4>
        <div class="phone_left">
          <img src="assets/images/around_big01.jpg" alt="">
          <img src="assets/images/around_big02.jpg" alt="">
        </div>
        <ul class="goods_list clearfix"></ul>
        <!-- 模块中间大图 -->
        <div class="center_img">
          <img src="./assets/images/big_img06.jpg">
        </div>
        <!-- 右上角 切换 -->
      </div>
      <!-- 视频 -->
      <div class="center clearfix">
        <h4 class="model_title">视频</h4>
        <div class="mp4">
          <ul>
            <li>
              <img src="assets/images/audio_01.jpg" alt="">
              <div>
                <p>小米MIX ALpha 开箱视频</p>
              </div>
            </li>
            <li>
              <img src="assets/images/audio_02.jpg" alt="">
              <div>
                <p>小米MIX ALpha 开箱视频</p>
              </div>
            </li>
            <li>
              <img src="assets/images/audio_03.jpg" alt="">
              <div>
                <p>小米MIX ALpha 开箱视频</p>
              </div>
            </li>
            <li>
              <img src="assets/images/audio_04.jpg" alt="">
              <div>
                <p>小米MIX ALpha 开箱视频</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <div class="footer">
      <div class="center">
        <div class="footer_top">
          <ul class="clearfix">
            <li class="top_border"><a><span class="iconfont icon-gongju"></span>预约维修服务</a></li>
            <li class="top_border"><a><span class="iconfont icon-7"></span>7天无理由退货</a></li>
            <li class="top_border"><a><span class="iconfont icon-15"></span>15天免费换货</a></li>
            <li class="top_border"><a><span class="iconfont icon-gift_icon"></span>满69包邮</a></li>
            <li><span class="iconfont icon-dingwei"></span><a>520余家售后网点</a></li>
          </ul>
        </div>
        <div class="footer_main clearfix">
          <ul>
            <li>帮助中心</li>
            <li><a href="">账户管理</a></li>
            <li><a href="">购物指南</a></li>
            <li><a href="">订单操作</a></li>
          </ul>
          <ul>
            <li>服务支持</li>
            <li><a href="">售后政策</a></li>
            <li><a href="">自助服务</a></li>
            <li><a href="">相关下载</a></li>
          </ul>
          <ul>
            <li>线下门店</li>
            <li><a href="">小米之家</a></li>
            <li><a href="">服务网点</a></li>
            <li><a href="">授权体验</a></li>
          </ul>
          <ul>
            <li>关于小米</li>
            <li><a href="">了解小米</a></li>
            <li><a href="">加入小米</a></li>
            <li><a href="">投资者关系</a></li>
            <li><a href="">企业社会责任</a></li>
            <li><a href="">廉洁举报</a></li>
          </ul>
          <ul>
            <li>关注我们</li>
            <li><a href="">新浪微博</a></li>
            <li><a href="">官方微信</a></li>
            <li><a href="">联系我们</a></li>
            <li><a href="">公益基金会</a></li>
          </ul>
          <ul>
            <li>特色服务</li>
            <li><a href="">F码通道</a></li>
            <li><a href="">礼物码</a></li>
            <li><a href="">防伪查询</a></li>
          </ul>
          <ul class="people_serve">
            <div class="serve_phone">
              <h5>400-110910</h5>
              <p>周一至周日 8:00-18:00</p>
              <p>（仅收市花费）</p>
              <span>人工客服</span>
            </div>
          </ul>
        </div>
        <div class="footer_bottom clearfix">
          <div class="logo">
            <img src="assets/images/logo-mi2.png">
          </div>
          <div class="footer_text">
            <ul class="clearfix">
              <li>小米商城</li>
              <li>小米商城</li>
              <li>小米商城</li>
              <li>小米商城</li>
              <li>MIUI</li>
              <li>米家</li>
              <li>米聊</li>
              <li>多看</li>
              <li>游戏</li>
              <li>政企服务</li>
              <li>小米天猫店</li>
              <li>小米集团隐私政策</li>
              <li>小米公司儿童信息保护规则</li>
              <li>小米商城隐私政策</li>
              <li>小米商城用户协议</li>
              <li>问题反馈</li>
              <li>廉政举报</li>
              <li>Select Location</li>
            </ul>
            <p>
              © mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2020]0276-042号<br>
              （京）网械平台备字（2018）第00005号 互联网药品信息服务资格证 (京)-非经营性-2014-0090 营业执照 医疗器械质量公告<br>
              增值电信业务许可证 网络食品经营备案 京食药网食备202010048 食品经营许可证<br>
              违法和不良信息举报电话：171-5104-4404 知识产权侵权投诉 本网站所列数据，除特殊说明，所有数据均出自我司实验室测试<br>
            </p>
            <ol class="clearfix">
              <li><img src="assets/images/footer_04.png" alt=""></li>
              <li><img src="assets/images/v-logo-2.png" alt=""></li>
              <li><img src="assets/images/icon3.png" alt=""></li>
              <li><img src="assets/images/v-logo-4.png" alt=""></li>
            </ol>
            <h2>让全球每个人都能享受科技带来的美好生活</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- 固定定位导航侧边栏 -->
    <div class="fixed_nav">
      <ul>
        <li>
          <div>
            <img src="assets/images/fixed_img01.png">
            <p>扫码领取新人百元礼包</p>
          </div>
        </li>
        <li>
          <div>个人中心</div>
        </li>
        <li>
          <div>售后服务</div>
        </li>
        <li>
          <div>人工客服</div>
        </li>
        <li>
          <div>购物车</div>
        </li>
      </ul>
      <div class="go_top"><a href="#top"></a></div>
    </div>
  </div>

  <script src="./js/jquery-3.5.1.js"></script>
  <script src="./js/Utils.js"></script>
  <script src="./js/indexData.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/Func.js"></script>
  <script>
    // 退出登录
    exitLogin();
    // 搜索框
    inputChange();
  </script>
</body>

</html>