<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/iconfont/iconfont.css">
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    <!-- 版心1226px -->
    <!-- 顶部高38px -->
    <div class="top" id="top">
        <div class="center clearfix">
            <ul class="top_left clearfix">
                <li><a href="./index.html">小米商城</a></li>
                <li><a>MIUI</a></li>
                <li><a>loT</a></li>
                <li><a>云服务</a></li>
                <li><a>金融</a></li>
                <li><a>有品</a></li>
                <li><a>小爱开放平台</a></li>
                <li><a>资质证照</a></li>
                <li><a>协议规则</a></li>
                <li><a>下载app</a></li>
                <li><a>selectLocation</a></li>

            </ul>
            <ul class="top_right clearfix">
                <li id="user"><a href="login.html">登录</a><a href="login.html">注册</a></li>
                <li><a href="index.html">小米商城</a></li>
                <li class="shopping_card"><a href="shopCar.html"><img src="./assets/images/fixed_nav51.png">购物车</a></li>
            </ul>
        </div>
    </div>
    <!-- logo高100px -->
    <div class="navbar center clearfix">
        <img src="./assets/images/logo-mi2.png" alt="">
        <span class="car_title">我的购物车</span>
        <span>温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</span>
    </div>
    <div class="car">
        <div class="car_line"></div>
        <!-- 购物车 -->
        <div class="shop_car">
            <div class="empty_car">
                <h2>您的购物车还是空的！</h2>
                <a href="./index.html">马上去购物</a>
            </div>
            <!-- 这里是购物车商品列表 -->
        </div>

        <div class="title_info center">
            <div class="shop_ather">买购物车中商品的人还买了</div>
            <div class="shop_commend">为你推荐</div>
        </div>
    </div>
    <!-- 底部 -->
    <div class="footer">
        <div class="center">
            <div class="footer_top">
                <ul class="clearfix">
                    <li class="top_border"><a><span class="iconfont icon-gongju"></span>预约维修服务</a></li>
                    <li class="top_border"><a><span class="iconfont icon-7"></span>7天无理由退货</a></li>
                    <li class="top_border"><a><span class="iconfont icon-15"></span>15天免费换货</a></li>
                    <li class="top_border"><a><span class="iconfont icon-gift_icon"></span>满69包邮</a></li>
                    <li><span class="iconfont icon-dingwei"></span><a>520余家售后网点</a></li>
                </ul>
            </div>
            <div class="footer_main clearfix">
                <ul>
                    <li>帮助中心</li>
                    <li><a href="">账户管理</a></li>
                    <li><a href="">购物指南</a></li>
                    <li><a href="">订单操作</a></li>
                </ul>
                <ul>
                    <li>服务支持</li>
                    <li><a href="">售后政策</a></li>
                    <li><a href="">自助服务</a></li>
                    <li><a href="">相关下载</a></li>
                </ul>
                <ul>
                    <li>线下门店</li>
                    <li><a href="">小米之家</a></li>
                    <li><a href="">服务网点</a></li>
                    <li><a href="">授权体验</a></li>
                </ul>
                <ul>
                    <li>关于小米</li>
                    <li><a href="">了解小米</a></li>
                    <li><a href="">加入小米</a></li>
                    <li><a href="">投资者关系</a></li>
                    <li><a href="">企业社会责任</a></li>
                    <li><a href="">廉洁举报</a></li>
                </ul>
                <ul>
                    <li>关注我们</li>
                    <li><a href="">新浪微博</a></li>
                    <li><a href="">官方微信</a></li>
                    <li><a href="">联系我们</a></li>
                    <li><a href="">公益基金会</a></li>
                </ul>
                <ul>
                    <li>特色服务</li>
                    <li><a href="">F码通道</a></li>
                    <li><a href="">礼物码</a></li>
                    <li><a href="">防伪查询</a></li>
                </ul>
                <ul class="people_serve">
                    <div class="serve_phone">
                        <h5>400-110910</h5>
                        <p>周一至周日 8:00-18:00</p>
                        <p>（仅收市花费）</p>
                        <span>人工客服</span>
                    </div>
                </ul>
            </div>
            <div class="footer_bottom clearfix">
                <div class="logo">
                    <img src="assets/images/logo-mi2.png">
                </div>
                <div class="footer_text">
                    <ul class="clearfix">
                        <li>小米商城</li>
                        <li>小米商城</li>
                        <li>小米商城</li>
                        <li>小米商城</li>
                        <li>MIUI</li>
                        <li>米家</li>
                        <li>米聊</li>
                        <li>多看</li>
                        <li>游戏</li>
                        <li>政企服务</li>
                        <li>小米天猫店</li>
                        <li>小米集团隐私政策</li>
                        <li>小米公司儿童信息保护规则</li>
                        <li>小米商城隐私政策</li>
                        <li>小米商城用户协议</li>
                        <li>问题反馈</li>
                        <li>廉政举报</li>
                        <li>Select Location</li>
                    </ul>
                    <p>
                        © mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2020]0276-042号<br>
                        （京）网械平台备字（2018）第00005号 互联网药品信息服务资格证 (京)-非经营性-2014-0090 营业执照 医疗器械质量公告<br>
                        增值电信业务许可证 网络食品经营备案 京食药网食备202010048 食品经营许可证<br>
                        违法和不良信息举报电话：171-5104-4404 知识产权侵权投诉 本网站所列数据，除特殊说明，所有数据均出自我司实验室测试<br>
                    </p>
                    <ol class="clearfix">
                        <li><img src="assets/images/footer_04.png" alt=""></li>
                        <li><img src="assets/images/v-logo-2.png" alt=""></li>
                        <li><img src="assets/images/icon3.png" alt=""></li>
                        <li><img src="assets/images/v-logo-4.png" alt=""></li>
                    </ol>
                    <h2>让全球每个人都能享受科技带来的美好生活</h2>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/jquery-3.5.1.js"></script>
    <script src="./js/Utils.js"></script>
    <script src="./js/shopCar.js"></script>
    <script src="./js/Func.js"></script>
    <script>
        exitLogin();
    </script>
</body>

</html>